@import 'nativescript-theme-core/css/purple.css';

action-bar {
  background-color: #443266;
  color: white;
}
.lbl {
  margin-top: 20;
  padding-top:10;
  padding-bottom:10;
  padding-left:5;
  background-color:white;
}
.drawer-content {
  background-color: #443266;
  color: white;
  padding-top: 0;
}
.drawer-content label {
  font-size: 20;
  margin: 10 0 15 25;
}
.selected {
  color: #e4ba4e;
}

.form-label {
    font-size: 17pt;
    margin-left:5px;
}

.storyImageItem{
    margin-top:10px;
    background-color:white;
    padding:5px;
}

.lblContent {
    text-align: justify;
    text-justify: inter-word;
    color:black;
}

page {
    background-color :#F1F0FF;
}

.font-awesome {
    font-family: "FontAwesome";
    font-size:20pt;
}

.home {
    font-family: 'fontawesome-webfont';
}

.fa-camera {
    font-family: 'fontawesome-webfont';
    color: orange;
    font-size: 20;
    text-align: center;
}

.fa {
    font-family: 'fontawesome-webfont';
}

.action-item{
    font-size:20pt;
    margin-right:10px;
    color:white;
}

.imagecaptured {
  background-color: #666666;
  /*border-radius: 100;*/
  width: 70px;
  height: 70px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;}

.tag-container{
    margin-left : 10px;
    margin-right : 10px;
    border-color: #C3C3E5; border-width: 0 0 1 0;
}

.item-name{
    width: 50%;
    text-align : center;
    color: black;
    font-size: 30pt;
}

.item-label{
    color: black;
    font-size: 30pt;
    margin-left:25px;
    vertical-align:middle;
}

.item-label-pending{
    background-color:silver;
}

.item-label-small{
    color: black;
    font-size: 20pt;
    vertical-align:middle;
}

.item-chevron{
    color: black;
    font-size: 30pt;
    text-align:right;
    vertical-align:middle;
}

.list-item{
    padding : 10px;
    background-color : #f2f2f2;
    /*#99ccff*/
    border-color: #C3C3E5; border-width: 0 0 1 0;
}

.list-item-selected{
    padding : 10px;
    background-color : #99ccff;
    border-color: #C3C3E5; border-width: 0 0 1 0;
}

.form {
    color: black;
    padding : 10px;
    font-size: 18pt;
}
.form-item{
    border-color: #C3C3E5; 
    border-width: 0 0 1 0;
    padding: 15px!important;
}

.circle-wrapper{
  background-color: #666666;
  /*border-radius: 100;*/
  width: 70px;
  height: 70px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}


.fa-video {
    font-family: 'fontawesome-webfont';
    color: red;
    font-size: 20;
    text-align: center;
}

.fa-photo {
    font-family: 'fontawesome-webfont';
    color: limegreen;
    font-size: 20;
    text-align: center;
}

.fa-tag {
    font-family: 'fontawesome-webfont';
    color: purple;
    font-size: 20;
    text-align: center;
}

.feedItem {
  margin-top: 20;
  padding-top:10;
  padding-bottom:10;
  padding-left:5;
  background-color:white;
}

.feedAuthor {
  font-weight:bold;
}

.feedHeader{
    margin-left:5px;
}

.feedSmall {
  font-size:12pt;
}

.feedLB {
    border-color: #C3C3E5; border-width: 1 0 0 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.feedComment {
    border-color: #C3C3E5; border-width: 1 0 0 0;
    text-align: center;
    font-weight:bold;
    margin-top:5px;
}

.feed-images {
    margin:5px;
    max-height:10px;
}

.feed-images-multi {
    margin:5px;
    width: 45%;
}

.feed-content {
    margin-top:10px;
    margin-bottom:10px;
}

.menu-header {
    background-image: ~/images/playcentre.jpg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0px!important;
}

.profilename{
    position:absolute;
    bottom:0px;
}

.alert-success {
    background-color:lightgreen;
    margin: 20px;
    border-width: 1 1 1 1;
    border-color:green;
    border-radius: 10px;
    padding: 10px;
}

.alert-warning {
    background-color:red;
    margin: 20px;
    border-width: 1 1 1 1;
    border-color:darkred;
    border-radius: 10px;
    padding: 10px;
}

.btn-round {
    border-radius: 20px;
}

.btn-normal {
    border-radius: 5px;
}