action-bar {
  background-color: #443266;
  color: white;
}
.lbl {
  margin-top: 20;
  padding-top:10;
  padding-bottom:10;
  padding-left:5;
  background-color:white;
}
.drawer-content {
  background-color: #443266;
  color: white;
  padding-top: 20;
}
.drawer-content label {
  font-size: 20;
  margin: 10 0 15 25;
}
.selected {
  color: #e4ba4e;
}

page {
    background-color :#F1F0FF;
}

.font-awesome {
    font-family: "FontAwesome";
    font-size:20pt;
}

.home {
    font-family: 'fontawesome-webfont';
}

.fa-camera {
    font-family: 'fontawesome-webfont';
    color: orange;
    font-size: 20;
    text-align: center;
}

.imagecaptured {
    margin-right : 5px;
    margin-left : 5px;
}

.tag-container{
    margin-left : 10px;
    margin-right : 10px;
    border-color: #C3C3E5; border-width: 0 0 1 0;
}

.item-name{
    width: 50%;
    text-align : center;
    color: black;
    font-size: 30pt;
}

.list-item{
    padding : 10px;
    background-color : #f2f2f2;
    /*#99ccff*/
    border-color: #C3C3E5; border-width: 0 0 1 0;
}

.list-item-selected{
    padding : 10px;
    background-color : #99ccff;
    border-color: #C3C3E5; border-width: 0 0 1 0;
}

.form {
    color: black;
    padding : 10px;
    font-size: 18pt;
}
.form-item{
    border-color: #C3C3E5; 
    border-width: 0 0 1 0;
    padding: 15px!important;
}

.circle-wrapper{
  background-color: #666666;
  border-radius: 100;
  width: 70px;
}


.fa-video {
    font-family: 'fontawesome-webfont';
    color: red;
    font-size: 20;
    text-align: center;
}

.fa-photo {
    font-family: 'fontawesome-webfont';
    color: limegreen;
    font-size: 20;
    text-align: center;
}

.fa-tag {
    font-family: 'fontawesome-webfont';
    color: purple;
    font-size: 20;
    text-align: center;
}

.feedItem {
  margin-top: 20;
  padding-top:10;
  padding-bottom:10;
  padding-left:5;
  background-color:white;
}

.feedAuthor {
  font-weight:bold;
}

.feedLB {
    border-color: #C3C3E5; border-width: 0 0 1 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.feedComment {
    text-align: center;
    font-weight:bold;
}

